
* {
    font-family: cursive;
}

body {
    background-color: azure;
}

button {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    border-radius: 10px;
    padding: 10px 20px;
}

button:hover {
    cursor: pointer;
}

.justify-items-center {
    display: flex;
    justify-items: center;
}

.vertical-padding {
    padding: 10px 0px;
}

.row {
    padding: 10px 0px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*For splitting up log output from different containers.*/
}


