
@page "/"

@using Messaging;
@using Web.Components.Shared

<PageTitle>DMS</PageTitle>

<h3 id="dms-title" style="justify-content: center;">
    DMS 1.5 :)
</h3>

@if (DMSActive)
{
    <DMSActive SetDMSInactive="() => DMSActive = false" />
}
else
{
    <DMSInactive SetDMSActive="() => DMSActive = true" />
}

@code{

    private bool dmsActive = false;

    private bool DMSActive {
        get
        {
            return this.dmsActive;
        }
        set
        {
            dmsActive = value;
            StateHasChanged();
        }
    }
}