name: Deploy

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy-preprod:
    if: github.ref == 'refs/heads/develop'
    uses: ./.github/workflows/deploy-reusable.yml
    with:
      environment: preprod
      aws-region: eu-west-2
    secrets:
      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
      AWS_SECRETS_ARN: ${{ secrets.AWS_SECRETS_ARN }}

  deploy-prod:
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/deploy-reusable.yml
    with:
      environment: prod
      aws-region: eu-west-2
    secrets:
      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
      AWS_SECRETS_ARN: ${{ secrets.AWS_SECRETS_ARN }}